<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<br>

<div class="row">
 <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Liste des Agences</h4>
        <a href="/dashboard/agences/ajouter">
          <button class="bouton-clignotant">
          <strong>Ajouter une agence</strong>  
          </button>
        </a>
		<br>
		<br>
		<br>

        <div class="roww">
          <div class="column" *ngFor="let ts of dataSource">
            <div class="cardd">
              <div class="icon-wrapper">
              </div>
			  <br>
              <h2>{{ ts.nom }}</h2>
			  <br>
              <p><strong>Gouvernorat: </strong>{{ ts.Gouvernorat }}</p>
			  <br>
              <p><strong>Adresse: </strong>{{ ts.adresse }}</p>
			  <br>
              <p><strong>Téléphone: </strong>{{ ts.tel }}</p>
			  <br>
              <p><strong>Protable: </strong>{{ ts.portable}}</p><br>
              <p><strong>FAX: </strong>{{ ts.fax }}</p>
			  <br>

			  <div class="boutons-container">
				<button class="bouton-Mod" (click)="onModify(ts._id)">
					<strong>Modifier</strong>
				</button>
				<button class="bouton-Supp"  (click)="onDelete(ts._id)">
					<strong>Supprimer</strong>
				</button>
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
