<div class="right-div">
    <div id="main" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="welcome-section">
            <h1 style="text-align: center; color: #2c3e50; font-size: 28px; margin-bottom: 20px;">Bienvenue sur le Dashboard Administrateur</h1>
            <p style="font-size: 18px; color: #34495e;">En tant qu'administrateur de l'application <span style="color: green; font-weight: bold;">DAE-Assurance</span>, vous avez accès à tous les outils nécessaires pour :</p>
            <ul style="list-style-type: none; padding-left: 0;">
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les demandes d'inscriptions
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les utilisateurs
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les services d'assurance
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les contrats
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les sinistres
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Gérer les réclamations
                </li>
                <li style="background-color: #eafaf1; margin: 10px 0; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <span style="color: #2ecc71; font-weight: bold;">✔</span> Envoyer des notifications
                </li>
            </ul>
            <p style="text-align: center; font-weight: bold; font-size: 18px; color: #2c3e50; margin-top: 20px;">Merci de votre contribution à la sécurité et à la satisfaction de nos clients.</p>
        </div>
    </div>
</div>
